#menu-logo, 
#ch-menu{
    display:none;
}

body{
--menu-height: 40px;
--button-width: 200px;
--menu-background:var(--lila-prafuit);
--button-border: black;
--border-menu: 2px;
--menu-text-color:var(--culoare-text);
  margin:0;
}


nav {
    margin: 0;
    padding: 0;
    /* width: calc(100vw - 15px); */
    background-color: var(--menu-background);
    height: var(--menu-height);
    position: sticky;
    top: 0;
    margin-right: calc(-1 * var(--spacing));
    margin-left: calc(-1 * var(--spacing));
    z-index: 1;
}

ul.menu {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: start;
    flex-wrap: wrap;


>li{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: var(--button-width);
}

li {
    --border-menu: 2px;
    width: var(--button-width);
    height: var(--menu-height);
    background-color: var(--menu-background);
    overflow: hidden;
    text-align: center;
    border: var(--border-menu) solid var(--button-border);
    /* float: left; de obicei pentru imagini */
    /* display: inline-block; sunt vazute ca si caractere mari */
    box-sizing: border-box;
    /* pentru a nu se suprapune marginile */
    list-style-type: none;
    transition: all 0.5s linear;
    box-sizing: border-box;
    &:hover {
        overflow: visible;
        background-color: var(--roz-prafuit);
    
    }
}
ul {
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    opacity: 0;
    transition: all 0.5s linear;
    transform: scale(1, 0);
    transform-origin: center top;
}
}

/* permite elementelor sa vina pe un rand sau pe o coloana( se comporta ca un block in cazul de coloana) */


ul.menu li a,
ul.menu li div {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--menu-text-color);
    line-height: calc(var(--menu-height) - 3 * var(--border-menu));
    /*pentru a alinia textul la mijloc */
    font-weight: bold;

}



/* ul.menu li:nth-child(odd) {
    background-color: var(--culoare1);
}

ul.menu li:nth-child(even) {
    background-color: var(--culoare2);
} */



ul.menu li:hover ul {
    opacity: 1;
    transform: scale(1, 1);
}