<!DOCTYPE html>
<html lang="ro">
 <head>
 
  
       
       <meta name="keywords" content="bijuterii, cercei, argint, colier, inel, verighetă"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
       <meta name="description" content="bijuterii din metale pretioase. inele de logodnă, verighete. coliere din perle naturale. "><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
       
       <title>beYOU jewelery</title>
       <%- include("../fragmente/head.ejs") %>
      <%- include("../fragmente/header.ejs") %>
      

</head>
<body>
 
<main id="promotii">
  <h2>PROMOTII</h2>
  <p>                                </p>
  <p>                                </p>
  <br> 
  <video width="320" height="240" controls="controls">
    <source src="/resurse/video-diamante.mp4" type="video/mp4">
    <source src="/resurse/video-diamante.ogv" type="video/ogv">
    <track label="Romanian" kind="subtitles" srclang="ro" src="/resurse/subtitles/subtitles-ro.vtt" default>
    <track label="English" kind="subtitles" srclang="en" src="/resurse/subtitles/subtitles-en.vtt">
   </video>
</main>
<%- include("../fragmente/footer.ejs") %>
  </body>
</html>