#duotone{
	position:relative;
	background-image:url("/resurse/imagini/galerie/c-mari.png");
	background-size:cover;
	width:500px; 
	height: 500px;
	filter:brightness(200%) grayscale(0) ;
	transition:all 2s linear;
	overflow: hidden; /*sa nu se vada filtrele de culoare in stanga/dreapta imaginii*/
}

#duotone:after, 
#duotone:before{
	content:" ";
	position:absolute;
	height:100%;
	width:100%;
	transition:all 1s linear; 
}

#duotone:after{
	background-color:rgb(0,0,255);
	mix-blend-mode:lighten;
    opacity: 0.3;
    right: -100%;
}

#duotone:before{
	background-color:rgb(205,0,255);
	mix-blend-mode:darken;
    opacity: 0.7;
    left: -100%;
}

#duotone:hover:after {
    right: 0;
    
}

#duotone:hover:before {
    left: 0;
    
}