
body{
   --lila: #EEC0F6;
   --roz-prafuit: #EBC4CF;
   --lila-prafuit: #D4A5CA;
   --bg: #F5D9D5;
   --culoare-text: #5B478F;
   --bej: #DEB6B8;
   --bleu: #D2D4FA;
   --galben: #FFFDD1;
}

body.dark{
    background-color: var(--culoare-text);
    color: var(--bej);
}

body{
    background-color: var(--bg);
    color: var(--culoare-text);
    --padding: 10px;
    --border: 10px;
    --spacing: 20px;
}

body{
    padding-left: var(--spacing);
    padding-right: var(--spacing);

}

table, th, td{
/*border:3px solid rgba(0, 0, 0, 0.67);*/
border-collapse: collapse;
text-align: center;
border-radius: 15px;
overflow: hidden;
}


tr:nth-child(even) {
    background-color: var(--bleu);
    transition: all 0.5s linear;
}

tr:nth-child(odd){
    background-color: var(--roz-prafuit);
    transition: all 0.5s linear;
}

th {
    background-color: var(--lila-prafuit);
    color: black;
}
 


tr:hover {
    background-color: var(--galben);
    transition: all 0.5s linear;
}

td:hover{
   background-color: var(--lila);
   transition: all 0.5s linear;

}



#grid-pagina{
display:grid;
grid-template-columns: repeat(4,fr);
grid-template-areas: 
"zona-1 zona-1 zona-1 zona-1"
"zona-8 zona-8 zona-8 zona-8"
"zona-3 zona-2 zona-2 zona-4"
"zona-5 zona-6 zona-7 zona-7" 
;
gap: 20px 10px ;
}
#grid-pagina>section{
    padding: var(--padding);
    border: var(--border) solid var(--lila-prafuit)
}

#zona-1{
    grid-area: zona-1;
}
#zona-2{
    grid-area: zona-2;
}
#zona-3{
    grid-area: zona-3;
}
#zona-4{
    grid-area: zona-4;
}
#zona-5{
    grid-area: zona-5;
}
#zona-6{
    grid-area: zona-6;
}
#zona-7{
    grid-area: zona-7;
}
#zona-8{
    grid-area: zona-8;
}

h1{
    font-family: 'Shantell Sans', cursive;
}

#promotii > h2{
    font-family: 'Changa One', cursive;
}



#header, #footer{
    border: 3px solid palevioletred ;
    text-align: center;
    border-radius: 10%;
    border-left: transparent;
    border-right: transparent;
}

#outer {
    position: fixed;
    border: 5px solid rgba(0, 0, 0, 0.5);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 75px;
    height: 75px;
    right: 0;
    bottom: 0;
    box-shadow: inset 0px 0 10px 5px rgba(0, 0, 0, 0.5);

}

#inner {
    font-size: 80px;
    margin-left: 6px;
    margin-top: -25px;
}

#outer:hover #inner {
    transform: scale(1.2);
    color: rgba(0, 0, 0, 0.67);
    transition: all 0.5s ease-in-out;
}

#outer:hover {
    background-color: rgb(0, 0, 0, 0.5);
    transition: all 0.5s linear;
}

#back-to-top {
    color: rgb(0, 0, 0, 0.5);
    text-decoration: none;
}

main{
    margin-top: 100px;
    justify-content: center;
}

#header{
    background-color: var(--bleu);
}

#footer{
    background-color: var(--bej);
}

a{
        background-position: center;
        background-repeat: no-repeat;
        background-size: 0%;
        background-blend-mode: lighten;
        color: var(--culoare-text);
    
}

a.link{
    background-size: 0%;
    color: var(--culoare-text);
}

a.link:hover{
    
    
    color: var(--culoare-text);
    background-image: radial-gradient(
                                     var(--bleu) 0%,
                                     var(--bleu) 40%,
                                      transparent 80%,
                                     transparent 100%); 
                                     
    background-position: center;
    background-size: 100%;
    transition: all 0.1s linear;
}

a.link:visited{
    color: #8fd5cf00;
}

a.link:active {
    border: 1px solid black;
    transition: all 0.5s linear;
}

a.link[href^="http"]::before{
    content: "⮳";
    font-size: 1.5em;
}

a.link[href^="http"]:hover::before{
    color: var(--culoare-text);
    transition: color 0.1s linear;
}

video {
    max-width: 700px;
    max-height: 350px;
    width: auto;
    height: auto;
    min-height: 200px;
    min-width: 250px;
}

::cue {
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0.3);
    /* opacity: 0.3; */
}

::cue {
    color: black;
}


@keyframes wave {

    0% {
        background: repeating-radial-gradient(circle at 50% 100%, rgba(0,0,0,0), rgba(0,0,0,0) 3px, rgba(0,0,0,0) 3px, var(--bg) 3px, var(--bg) 6px, rgba(0,0,0,0) 3px);
}
    
    100% {
        background: repeating-radial-gradient(circle at 50% 100%, var(--bg), var(--bg) 3px, var(--bg) 3px, rgba(0,0,0,0)  3px, rgba(0,0,0,0)  6px, var(--bg) 3px);
}
       
}

#text-reflectat{
	position:absolute;
	left:0;
	top:100%;
	transform-origin:0 0;
	transform: rotateX(180deg) skew(-45deg) scaleY(0.5) translate(10px,-25px); 
	opacity:0.55;
    
}

#animatie-reflexie{
    position:absolute;
    width: 36%;
    height: 80%;
	left:0;
	top:100%;
	transform-origin:0 0;
	transform: rotateX(180deg) skew(-45deg) scaleY(0.5) translate(10px,-25px); 
    background: repeating-radial-gradient(circle at 50% 100%, rgba(0,0,0,0), rgba(0,0,0,0) 3px, rgba(0,0,0,0) 3px, var(--bg) 3px, var(--bg) 6px, rgba(0,0,0,0) 3px);
}

#animatie-reflexie:hover{
    animation: wave 0.2s linear infinite;
}
#text{	
	position:relative;
}

#text, #text-reflectat{
	font-size:50px;
	line-height: 60px;
	font-weight: bold;
    margin-bottom: 1em;
} 


hr {
    height: 50px;
    border-radius: 5px;
    background-image: radial-gradient(white 10%,  var(--culoare-text) 35%, transparent 10%),
        radial-gradient(white 10%,var(--culoare-text) 35%, transparent 10%),
        radial-gradient(white 10%,var(--culoare-text) 35%, transparent 10%);
    background-size: 16px 16px;
    background-repeat: repeat-x;
    position: relative;
    border: 0;
    filter: blur(0.4px);
}

hr::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 16px;
    background-image: radial-gradient(white 1%, palevioletred 55%, transparent 1%);
    background-size: 16px 16px;
    /* background-repeat: repeat-x; */
    background-position-x: 12px;
    top: 8%;
    filter: blur(0.6px);
}

hr::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 16px;
    background-image: radial-gradient(white 10%, var(--bleu) 35%, transparent 30%);
    background-size: 16px 16px;
    /* background-repeat: repeat-x; */
    top: 15%;
    background-position-x: -10px;
    filter: blur(0.4px);
}

.miscator {
    text-transform:uppercase;
    font-size:3vw;
    display: inline-block;
    white-space: nowrap;
    animation: floatText 20s infinite linear;
    padding-left: 100%; /*Initial offset, which places the text off-screen */
    color: var(--culoare-text);
  }

  @keyframes floatText {
    to {
      transform: translateX(-100%);
    }
  }